[Unit]
Description=BDClient Service
ConditionPathExists=<dir>
After=network.target
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=<dir>
ExecStart=/usr/local/go/bin/go run client.go
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=appgoservice
[Install]
WantedBy=multi-user.target