[Unit]
Description=BDClient Service
ConditionPathExists=/var/apps/bdclient/
After=network.target
[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/apps/bdclient/
ExecStart=/var/apps/bdclient/client
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=appgoservice
[Install]
WantedBy=multi-user.target
